<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  
</head>

<body>

  <h1>Pokemon List</h1>

  <ul>
  	<% for(let i = 0; i < poke.length; i++){ %>
  	<li>
  		I am <%= poke[i].name %>
  		<img src="<%= poke[i].img %>">
  		<button>Pokemon Info</button>
  	</li> 
  	<% } %>
      
    </form>
  </ul>



</body>

</html>