<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  
</head>

<body>

  <h1>Pokemon List</h1>


  <nav>
    <button><a href="/pokemon/new">Create New Pokemon</a>
  </nav></button>

  <ul>
  	<% for(let i = 0; i < pokemon.length; i++){ %>
  	<li>
    
      <button><a href="/pokemon/<%= i %>">click info</a></button>
      <img src="<%= pokemon[i].img %>">

      <button><a href="/pokemon/<%= i %>/edit">Edit <%pokemon[i].name%></a></button>

  	</li> 
  	<% } %>
      
    </form>
  </ul>



</body>

</html>