<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  
</head>

<body>

  <h1>Pokemon List</h1>

  <ul>
  	<% for(let i = 0; i < pokemon.length; i++){ %>
  	<li>
    
      Hi i am<a href="/pokemon/<%= i %>"><%= pokemon[i].name %></a>
  		<img src="<%= pokemon[i].img %>">
  		<button>Pokemon Info</button>
  	</li> 
  	<% } %>
      
    </form>
  </ul>



</body>

</html>